*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f9f9f9;
    color:#333;
}

/* NAVBAR */

header{
    background:white;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
}

.logo img{
    width: 180px;
    height:45px;
}


nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:#0b5f75;
    font-weight:600;
    transition:0.3s;
}

nav ul li a:hover{
    color:#25D366;
}

/* HERO SECTION */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:80px 8%;
    background:linear-gradient(to right,#ffffff,#eeeeeb);
}

.hero-content{
    flex:1;
    min-width:300px;
}

.hero-content h1{
    font-size:40px;
    color:#0b5f75;
    line-height:1.1;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    padding:14px 32px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.primary-btn{
    background:#25D366;
    color:white;
}

.primary-btn:hover{
    transform:translateY(-3px);
}

.secondary-btn{
    background:#0b5f75;
    color:white;
}

.hero-image{
    flex:1;
    text-align:center;
    min-width:400px;
}

.hero-image img{
    width:100%;
    max-width:600px;
    border-radius:20px;
    
}

/* PRODUCTS */

.products{
    padding:90px 8%;
}

.section-title{
    text-align:center;
    font-size:48px;
    color:#0b5f75;
    margin-bottom:60px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.product-card{
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.4s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:100%;
    max-width:220px;
    margin-bottom:20px;
}

.product-card h3{
    font-size:28px;
    margin-bottom:15px;
}

.price{
    font-size:28px;
    color:#25D366;
    font-weight:700;
    margin-bottom:20px;
}

.old-price{
    text-decoration:line-through;
    color:#999;
    font-size:18px;
    margin-left:10px;
}

.product-card ul{
    list-style:none;
    margin-bottom:25px;
}

.product-card ul li{
    margin:10px 0;
}

.whatsapp-btn{
    display:inline-block;
    background:#25D366;
    color:white;
    padding:14px 28px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.whatsapp-btn:hover{
    background:#1ebe5d;
}

/* ABOUT */

.about{
    padding:90px 8%;
    background:#fff;
}

.about-container{
    display:flex;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.about-text{
    flex:1;
}

.about-text h2{
    font-size:48px;
    color:#0b5f75;
    margin-bottom:20px;
}

.about-text p{
    margin-bottom:20px;
    font-size:18px;
    line-height:1.8;
}

.about-image{
    flex:1;
    text-align:center;
}

.about-image img{
    width:100%;
    max-width:500px;
    border-radius:20px;
}

/* REVIEWS */

.reviews{
    padding:90px 8%;
    background:#f4f4f4;
}

.review-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.review-card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.review-card h4{
    margin-top:20px;
    color:#0b5f75;
}

/* CONTACT */

.contact{
    padding:90px 8%;
    background:white;
}

.contact-box{
    background:#f8f8f8;
    padding:40px;
    border-radius:20px;
    max-width:700px;
    margin:auto;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.contact-box p{
    margin:15px 0;
    font-size:18px;
}

/* FOOTER */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px 20px;
}

.social-links{
    margin:20px 0;
}

.social-links a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

.menu-toggle{
    display:none;
    font-size:24px;
    cursor:pointer;
    color:#0b5f75;
}

/* MOBILE */

    @media(max-width:768px){

    /* NAVBAR */

    .logo img{
        width: 150px;
        height:50px;
    }

    nav{
        position:relative;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }

    .menu-toggle{
        display:block;
    }

    nav ul{
        position:absolute;
        top:90px;
        right:0;
        width:250px;
        background:white;
        flex-direction:column;
        align-items:center;
        padding:30px 20px;
        gap:25px;
        box-shadow:0 10px 30px rgba(0,0,0,0.15);

        display:none;
        border-radius:0 0 0 20px;
    }

    nav ul.active{
        display:flex;
    }

    nav ul li a{
        font-size:18px;
    }

    /* HERO SECTION */

    .hero{
        flex-direction:column;
        text-align:center;
        padding:50px 10px;
    }

    .hero-content{
        width:100%;
    }

    .hero-content h1{
        font-size:35px;
        line-height:1.1;
        margin-bottom:10px;
    }

    .hero-content p{
        font-size:20px;
        line-height:1.5;
        margin-bottom:10px;
    }

    .hero-content a{
        font-size:16px;
        line-height:1.5;
        margin-bottom:10px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:center;
        width:100%;
        gap:20px;
    }

    .btn{
        width:100%;
        max-width:320px;
        text-align:center;
        font-size:24px;
        padding:18px 25px;
    }

    /* HERO IMAGE */

    .hero-image{
        width:100%;
        margin-top:30px;
    }

    .hero-image img{
        width:100%;
        max-width:100%;
        border-radius:25px;
    }

    /* PRODUCTS */

    .products{
        padding:60px 20px;
    }

    .section-title{
        font-size:42px;
    }

    .product-grid{
        grid-template-columns:1fr;
    }

    .product-card{
        padding:30px 20px;
    }

    .product-card h3{
        font-size:34px;
    }

    .price{
        font-size:32px;
    }

    .product-card ul li{
        font-size:22px;
    }

    /* ABOUT */

    .about,
    .reviews,
    .contact{
        padding:60px 20px;
    }

    .about-text{
        font-size:22px;
        line-height:1.7;
    }

    /* REVIEWS */

    .review-card{
        padding:25px;
        font-size:20px;
    }

    /* CONTACT */

    .contact-box{
        padding:25px;
    }

    .contact-box p{
        font-size:20px;
        line-height:1.7;
    }

    /* FOOTER */

    footer{
        padding:35px 20px;
    }

    .social-links{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .social-links a{
        font-size:20px;
    }
}